[Unit]
Description=wowdsgn-admin
After=syslog.target

[Service]
User=root
WorkingDirectory=/data/server
ExecStart=/usr/local/java/bin/java -jar /data/server/admin-api-1.0-SNAPSHOT.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
